/*
*
    By:- AbdElRahman Ahmad
    FB:- fb.com/AbdElRahman.IO
    	 fb.com/AbdElRahman.IO.page
    in:- eg.linkedin.com/in/AbdElRahmanIO
*
*/

/* md */
@media (max-width:1200px) {
}


/* sm */
@media (max-width:991px) {
}

/* xs */
@media (max-width:767px) {
}