/*
***************************************
***************************************
	By:-	AbdElRahman Ahmad
  			fb.com/DrMagnet0
				twitter.com/DrMagnet0
				linkedin.com/in/DrMagnet0
				instagram.com/DrMagnet0
***************************************
***************************************
*/

/* font */
@font-face{font-family:'DroidKufi-Bold'; src: url("../fonts/DroidKufi-Bold.ttf")}
@font-face{font-family:'DroidKufi-Regular'; src: url("../fonts/DroidKufi-Regular.ttf")}
@font-face{font-family:'lobster'; src: url("../fonts/Lobster_1_4.otf")}
/* font */


body {
    font-family: 'Cairo', sans-serif;
    /*font-family: 'DroidKufi-Regular';*/
    font-size: 12px;
    background-color: #3d939c;
}
a, a:hover, a:focus {
	text-decoration: none;
}
p {margin: 0;}

.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.logo h1 {font-family: 'lobster';font-size: 60px;font-weight: bold;}
.logo img {
  margin: auto;
  max-width: 100%;
  height: 130px;
}
.brief {
  text-align: center;
  margin-bottom: 70px;
}
.headofsection {text-align: center;}
.headofsection h6 {font-size: 30px;text-transform: uppercase;display: inline-block;position: relative;border-bottom: 1pt solid #291f1f;width: 20%;margin-bottom: 30px;font-weight: bold;text-align: center;}
.headofsection h6::before, .headofsection h6::after {content: "";background-color: #3d939c;width: 20px;height: 20px;border: 1pt solid #291f1f;position: absolute;top: 23px;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.headofsection h6::before {left: 0;}
.headofsection h6::after {right: 0px;}
.brief p {
  color: white;
  font-size: 20px;
}
.brief b {
  color: #291f1f;
}

/*
*
* skills 1 .css
*
.skills {
  margin-bottom: 70px;
}
.skil {
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
}
.skil p {
  text-align: center;
  font-size: 18px;
  color: #291f1f;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
.percent {
  width: 100%;
  height: 20px;
  background-color: #307a82;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.percent span {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #191c1d;
}
*
*/

.skills {
  margin-bottom: 70px;
  text-align: center;
}
.skill {
  text-align: center;
  border: 2pt solid #16191a;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 40px 0;
  transition: 0.8s all ease-in-out;
  cursor: pointer;
}
.skill:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: 0.8s all ease-in-out;
}
.skill p {
  text-align: center;
  font-size: 18px;
  color: rgba(41, 31, 31, 0.2);
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.8s all ease-in-out;
}
.skill:hover > p {
  color: #291f1f;
  transition: 0.8s all ease-in-out;
}
.skill img {
  width: 50px;height: 50px;
}

.portfolio {
  margin-bottom: 50px;
}
.item {
  position: relative;
  margin-bottom: 25px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.item img.topimgitem {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 99999;
}
.item h1 {
  font-size: 20px;
  text-align: center;
  color: #291f1f;
}
.itemimg {
  overflow: hidden;
  position: relative;
}
.itemimg img {
  max-width: 100%;
  height: auto;
  transition: 1s ease-in-out;
}
.item:hover .itemimg img {
  transform: rotate(20deg) scale(2.0);
}
.more {position: absolute;width: 100%;height: 100%;left: 0;right: 0;top: 0;bottom: 0;z-index: 99999999;}
.more ul {padding: 0;margin: 0;text-align: center;transform: translateY(-50%);top: 50%;position: absolute;width: 100%;}
.more ul li {list-style: none;background: #3d939c;text-align: center;margin: 5px 0;padding: 10px;display: inline-block;width: 60%;color: white;font-weight: bold;font-size: 15px;opacity: 0;transition: 0.5s all ease-in-out;}
/*.more ul li:nth-child(1) {}
.more ul li:nth-child(2) {}*/
.item:hover .more ul li {opacity: 1;transition: 0.5s all ease-in-out;}


.footer {
  text-align: center;
  margin-bottom: 50px;
}
.footer a {
  color: #291f1f;
  font-size: 25px;
  text-shadow: 0 0 5px white;
  text-transform: uppercase;
  font-weight: bold;
}
