.paddingleft0 {
    padding-left: 0;
}
.paddingright0 {
     padding-right: 0;
 }
.marginbottom0 {
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}
.margintop10 {
    margin-top: 10px;
}